include includes/header
<body class='contacts'>
- var activeItem = 3
include includes/toolbar
.header
	.container
		img(src='/layout/images/title.contacts.png', alt='')
.page
	.container
		.row.text
			.col-xs-4
				h4 Билеты
				p 
					| Билет 
					a(href='/buy.html') on-line 
					| – 500 рублей <br/>
					| Билет в кассе – 700 рублей <br/>
					| Семейный билет - 2000 рублей <br/>
					a(data-toggle="modal" data-target="#Price" href="#Price") Скидки и льготы
					br
					a(href="#Present") Подарить билет
					
			.col-xs-4
				h4 Время работы
				p.
					4 марта с 12:00 до 19:00<br/>
					5 марта с 10:00 до 19:00<br/>
					6 марта с 10:00 до 19:00<br/>
					7 марта с 10:00 до 19:00<br/>
					8 марта с 10:00 до 17:00
			.col-xs-4
				h4 Место проведения
				p Выставочный центр «Сокольники», павильоны 4, 4.1 и 4.2
					br
					a(data-toggle="modal" data-target="#Scheme" href="#Scheme") Схема выставочного центра с парковками 
					br
					| Сокольники находятся недалеко от центра города –<br/> до выставки легко добраться и на 
					a(data-toggle="modal" data-target="#Metro" href="#Metro") метро
					|, и на 
					a(data-toggle="modal" data-target="#Car" href="#Car") автомобиле
					
		.center
			a.button.button--orange(href="/buy.html") купить билет онлайн
		
		
		form#Present.center.hidden(action='/buy/')
			.divider.divider--yellow.s-margin-bottom
			h2.m-margin-bottom Олдтаймер-Галерея — в подарок
			h4.
				День влюблённых, 23 февраля, 8 марта – весна щедра на праздники!<br/>
				Вы уже подумали о подарках? Есть отличный вариант! Оформите электронный билет на Олдтаймер-Галерею, выберите и приложите к своему поздравлению тематическую ретро-открытку.<br/>
				Такому подарку будут рады!<br/>
			.cards.m-margin-top
				.cards__description Выберите поздравительную открытку
				.card
					input.hidden(name='card', value='1', type='radio', id='card-1', checked)
					label.card__label(for='card-1')
						img(src="/layout/images/card-1.jpg", alt="")
						br
				.card
					input.hidden(name='card', value='2', type='radio', id='card-2')
					label.card__label(for='card-2')
						img(src="/layout/images/card-2.jpg", alt="")
						br
				.card
					input.hidden(name='card', value='3', type='radio', id='card-3')
					label.card__label(for='card-3')
						img(src="/layout/images/card-3.jpg", alt="")
						br
				.card
					input.hidden(name='card', value='4', type='radio', id='card-4')
					label.card__label(for='card-4')
						img(src="/layout/images/card-4.jpg", alt="")
						br
				.card
					input.hidden(name='card', value='5', type='radio', id='card-5')
					label.card__label(for='card-5')
						img(src="/layout/images/card-5.jpg", alt="")
						br
			button.button.button--brown.m-margin-top.l-margin-bottom(type="submit") купить билет онлайн
			
.modal.fade(id="Scheme", tabindex="-1", role="dialog" aria-hidden="true", data-parsley-validate)
	.modal-dialog.modal-lg
		.modal-content
			a.close(data-dismiss="modal", href="#")
			h3.center СХЕМА ВЫСТАВОЧНОГО ЦЕНТРА С ПАРКОВКАМИ
			.center
				p Выставочный центр предоставляет посетителям около 2000 паковочных машиномест. <br>Стоимость въезда на территорию КВЦ "Сокольники" и парковки – 250 руб.
				img(src="/layout/images/auto.jpg")

.modal.fade(id="Metro", tabindex="-1", role="dialog" aria-hidden="true", data-parsley-validate)
	.modal-dialog.modal-lg
		.modal-content
			a.close(data-dismiss="modal", href="#")

			h3.center КАК ДОБРАТЬСЯ НА МЕТРО
			.center
				p Выставочный центр располагается на территории парка «Сокольники», <br>в 10 минутах ходьбы от станции метро «Сокольники».
				img(src="/layout/images/metro.jpg")

.modal.fade(id="Car", tabindex="-1", role="dialog" aria-hidden="true", data-parsley-validate)
	.modal-dialog.modal-lg
		.modal-content
			a.close(data-dismiss="modal", href="#")

			h3.center СХЕМА ВЫСТАВОЧНОГО ЦЕНТРА С ПАРКОВКАМИ
			.center
				p Выставочный центр предоставляет посетителям около 2000 паковочных машиномест.
					br
					| Стоимость въезда на территорию КВЦ "Сокольники" и парковки – 250 руб.
				img(src="/layout/images/auto.jpg")
	

.modal.fade(id="Price", tabindex="-1", role="dialog" aria-hidden="true", data-parsley-validate)
	.modal-dialog
		.modal-content
			a.close(data-dismiss="modal", href="#")

			h3.center СТОИМОСТЬ БИЛЕТОВ
			p
				b В кассах в дни работы выставки:
			p
				b 700 руб 
				|	ПОЛНЫЙ БИЛЕТ
			p
				b 500 руб 
				|	ЛЬГОТНЫЙ БИЛЕТ
				br
				| (с подтверждающим документом) 
				br
				| школьники, студенты, инвалиды, пенсионеры, члены многодетных семей
			p
				b 2000 руб 
				|	СЕМЕЙНЫЙ БИЛЕТ
				br
				| (2 взрослых + 3 детей)
			p
				b БЕСПЛАТНО 
				| - дошкольники
