include includes/header
<body class='gallery'>
- var activeItem = 0
include includes/toolbar
.header
	.container
		img(src='/layout/images/title.gallery.png', alt='')
		br
		a.button.button--orange(href='#') о выставке
		a.button.button--brown(href='#') купить билет
				
.page
	.container
		.row.gallery__description
			.col-xs-5
				.divider.divider--yellow
				p Весенняя Олдтаймер-Галерея 2016 года будет значительно масштабнее предыдущих. Она займёт в Сокольниках сразу три павильона – 4, 4.1 и 4.2, а также прилегающие уличные площадки. Общая площадь экспозиции превысит 11.000 квадратных метров. 
				p В 25-й раз реставрационные мастерские и коллекционные бюро представят свои достижения, среди которых непременно будут громкие премьеры, сюрпризы и сенсации — стоит подготовить фотокамеры.
				p Развалы «блошиного рынка» также заслуживают посещения — возможно, на этот раз именно вам удастся найти среди множества «вещей с историей» настоящую жемчужину!
			.col-xs-7.right
				img(src='/layout/images/gallery.about.png', alt='')
		.center
			.divider.divider--yellow.xs-margin-bottom
			br
			h2.no-margin-top.xxl-margin-bottom Лучшие экспонаты
		.row
			- var n = 0
			while n < 6
				.col-xs-4
					.preview
						a.preview__image(style='background-image: url(/layout/images/car.jpg)', href='#')
						a(href='#').preview__title
							| Название автомобиля в две строки
						p.preview__text.
							1942 году перед работниками столичного автозавода, эвакуированного на Урал, была поставлена задача создать новое поколение представительского лимузина. Об автомобиле ЗИС-110 рассказывает материал «Герои Советского Союза. 
				- n++	
		.center.m-margin-top
			a.button.button--orange.xxl-margin-bottom(href='/buy/') КУПИТЬ БИЛЕТ ОНЛАЙН
			br
			.divider.divider--yellow.xs-margin-bottom
			br
			h2.no-margin-top.xxl-margin-bottom Звёзды говорят
			img(src='/layout/images/divider.png', alt='')
			.slider.slider--quotes
				a.slider__arrow.slider__arrow--prev(href='#', data-direction='<')
					img(src='/layout/images/svg/left.svg', alt='')
				a.slider__arrow.slider__arrow--next(href='#', data-direction='>')
					img(src='/layout/images/svg/right.svg', alt='')
				.fotorama.slider__fotorama(data-height='450', data-width='100%', data-autoplay='true', data-nav='false', data-loop='true', data-transition-duration='1000', data-shadow='false')
					- var n = 0
					while n < 12
						.slider__item
							.quote
								.quote__content
									.quote__avatar(style='background-image: url(/layout/images/slider.jpg)')
									.quote__name Леонид Ярмольник
									.quote__info АКТЕР
									.quote__text «Посетив Олдтаймер-Галерею, я понял, что автомобили середины двадцатого века — самые любопытные с точки зрения человеческого таланта изобретать, совершенствовать и удивлять. Есть такие образцы, в которых остановилось и отразилось время, как свидетельство человеческого гения и вкуса. Это как старинное вино — надо его уметь отличать, чувствовать и наслаждаться»
							- n++
			.authors
				a.authors__item.authors__item--active(href='#') Леонид<br/>Ярмольник
				a.authors__item(href='#') Михаил<br/>Шмаков
				a.authors__item(href='#') Алексей<br/>Лысенков
				a.authors__item(href='#') Вилли<br/>Токарев
				a.authors__item(href='#') Александр<br/>Пикуленко
				a.authors__item(href='#') Павел<br/>Санаев
				a.authors__item(href='#') Никас<br/>Сафронов
				a.authors__item(href='#') Владимир<br/>Жириновский
				a.authors__item(href='#') Павел<br/>Коган
				a.authors__item(href='#') Александр<br/>Кабаков
				a.authors__item(href='#') Элеонора<br/>Филина
			img(src='/layout/images/divider.png', alt='')
		
		.center.m-margin-top
			a.button.button--orange.xxl-margin-bottom(href='/buy/') ПОСЕТИТЬ ВЫСТАВКУ
			br
			.divider.divider--yellow.xs-margin-bottom
			br
			h2.no-margin-top.xs-margin-bottom 15 лет успеха
		.slider
			a.slider__arrow.slider__arrow--prev(href='#', data-direction='<')
				img(src='/layout/images/svg/left.svg', alt='')
			a.slider__arrow.slider__arrow--next(href='#', data-direction='>')
				img(src='/layout/images/svg/right.svg', alt='')
			#s2.fotorama.slider__fotorama(data-width='100%', data-autoplay='true', data-nav='false', data-loop='true', data-transition-duration='1000', data-shadow='false')
				img(src="/layout/images/slider.jpg", alt="")
				img(src="/layout/images/slider.jpg", alt="")
				img(src="/layout/images/slider.jpg", alt="")
		.row.xxl-margin-bottom.xxs-margin-top.slider__description
			.col-xs-4
				p Олдтаймер-Галерея – единственная в России и крупнейшая в Восточной Европе выставка старинных автомобилей и технического антиквариата.
			.col-xs-4
				p Олдтаймер-Галерея проводится с 2002 года дважды в году – весной и осенью – в крупнейших выставочных центрах Москвы: Сокольниках, Экспоцентре и Крокус-Экспо.
			.col-xs-4
				p Олдтаймер-Галерея – место, где можно приятно и полезно провести семейные выходные. Посетителей любого возраста здесь ждёт много интересного.
		.center
			a.button.button--brown.xxl-margin-bottom(href='/buy/') УВИДЕТЬ СВОИМИ ГЛАЗАМИ
			br
			.divider.divider--yellow.xs-margin-bottom
			br
			h4 5 марта 2016 в 14:00
				br
				| в КВЦ Сокольники, в конференц-зале пав.4
				br
				| состоится
			h2.no-margin-top.xs-margin-bottom Конференция на тему:
			p.highlight «Изменения в российском законодательстве,
				br
				| касающиеся ввоза, легализации, страхования,
				br
				| постановки на учёт и эксплуатации олдтаймеров»
		.row.gallery__description
			.col-xs-6
				p Участие в конференции даёт уникальную возможность задать прямые вопросы представителям следующих организаций:
				p.
					– Российская Автомобильная Федерация, <br>
					– Комитет Классических Автомобилей РАФ,<br>
					– Министерство промышленности и торговли РФ,<br>
					– ГУОБДД,<br>
					– Евразийская экономическая комиссия,<br>
					– Администратор систем электронных паспортов ТС,<br>
					– Ингосстрах.

				p Повестка дня конференции и круг обсуждаемых тем будут определяться вашими вопросами, которые можно задать заранее. Это позволит докладчикам лучше подготовиться и дать вам более полную информацию.
			.col-xs-6
				br
				img(src='/layout/images/gallery.car.png', alt='')
		.divider.divider--thin.m-margin-top.m-margin-bottom
		.row.m-margin-bottom
			.col-xs-3
				h6 хочу <br/>спросить
				a.social(href='#')
					img(src='/layout/images/fb.png', alt='')
				a.social(href='#')
					img(src='/layout/images/vk.png', alt='')
			.col-xs-9
				h6.xxl-margin-left хочу <br/>посетить
				form.form(data-parsley-validate)
					.form__message Поздравляем! <br/>Вы успешно зарегистрировались на конференцию.
					input(type='text', name='number', placeholder='Кол-во мест', required)
					input(type='email', name='email', placeholder='Ваш e-mail', required)
					input(type='submit', placeholder='Регистрация', required)
		p Внимание! Конференция будет проходить в рамках выставки старинных автомобилей «Олдтаймер-Галерея». Для прохода в конференц-зал необходимо приобрести входной билет на выставку. Никаких дополнительных сборов за участие в конференции не взимается.
		.center
			a.button.button--orange.xxl-margin-top(href='/buy/') КУПИТЬ БИЛЕТ
