
@font-face
    font-family: 'HelveticaNeue';
    font-weight: normal;
    font-style: normal;
    src: url(/layout/fonts/2.eot);
    src: url(/layout/fonts/2.eot#iefix) format('embedded-opentype'), url(/layout/fonts/2.woff2) format('woff2'), url(/layout/fonts/2.woff) format('woff'), url(/layout/fonts/2.ttf) format('truetype');

@font-face
    font-family: 'HelveticaNeue';
    font-weight: 300;
    font-style: normal;
    src: url(/layout/fonts/3.eot);
    src: url(/layout/fonts/3.eot#iefix) format('embedded-opentype'), url(/layout/fonts/3.woff2) format('woff2'), url(/layout/fonts/3.woff) format('woff'), url(/layout/fonts/3.ttf) format('truetype');

@font-face
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-style: normal;
    src: url(/layout/fonts/4.eot);
    src: url(/layout/fonts/4.eot#iefix) format('embedded-opentype'), url(/layout/fonts/4.woff2) format('woff2'), url(/layout/fonts/4.woff) format('woff'), url(/layout/fonts/4.ttf) format('truetype');

@font-face
    font-family: 'BebasNeue';
    font-weight: normal;
    font-style: normal;
    src: url(/layout/fonts/BebasNeueRegular.otf);
    src: url(/layout/fonts/BebasNeueRegular.otf) format('opentype');

@font-face
    font-family: 'BebasNeue';
    font-weight: bold;
    font-style: normal;
    src: url(/layout/fonts/BebasNeueBold.otf);
    src: url(/layout/fonts/BebasNeueBold.otf) format('opentype');
