.toolbar
    height 62px
    line-height 65px
    display block
    position relative
    overflow hidden
    position fixed
    top 0
    left 0
    width 100%
    z-index 100
    &:after
        content ""
        position absolute
        top 0
        left 0
        height 100%
        width 100%
        background url(/layout/images/menu.bg.png) repeat-x top left
        opacity 1
        .contacts &
            background-color #8d1d00
        .buy &
            background-color #4f0a29
        .index &
            opacity 1
            background-color #000e29
        .reasons &
            opacity 1
            background-color #083f68
        .gallery &
            background #931118
            opacity 1
    .nav
        position relative
        z-index 2
        font-family 'BebasNeue'
        text-transform uppercase
        &__item
            middle()
            color #ecedf1
            font-size 18px
            margin-left 22px
            &:hover, &--active
                color red
                .gallery &
                    color #ff9219
            &:first-of-type
                margin-left 0
